@page {
  size: A4;
  margin: 0;
}

#action-print {
  display: none;
  visibility: none;
}

#print-btn {
  display: none;
  visibility: none;
}

footer,
head,
#sidebar,
#top-nav,
.header-dash {
  display: none;
}